<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--<base href="[site_root]">-->
        <base href="/Ancitasrc/m/">
		
        <link rel="stylesheet" href="styles/3828f73d.main.css"/>
    </head>
	
	<body ng-controller="MainCtrl" ng-class="{oyh: isShowMenu, open: actions_menu}" ng-swipe-right="isShowMenu = true" ng-swipe-left="isShowMenu = false">
		<!--[if lt IE 7]>
		  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!--[if lt IE 9]>
		  <script src="bower_components/es5-shim/es5-shim.js"></script>
		  <script src="bower_components/json3/lib/json3.min.js"></script>
		<![endif]-->

		<nav id="mainMenu" class="ng-hide animate-show main-menu left-menu" ng-show="isShowMenu && !hideMenu" ng-swipe-left="isShowMenu = false" ng-click="isShowMenu=false">
			<ul class="nav nav-pills nav-stacked">
				<li ng-class="{active: $routeSegment.startsWith('index')}" ng-click="go('/index')"><b class="awsicon awsicon-window"></b>{{apd.l.header_home}}</li>
				<li ng-class="{active: $routeSegment.startsWith('listing')}" ng-click="go('/listings')"><b class="awsicon awsicon-realestate"></b>{{apd.l.header_search}}</li>
				<li ng-class="{active: $routeSegment.startsWith('user')}" ng-click="go('/users')"><b class="awsicon awsicon-agents"></b>{{apd.l.header_search_agents}}</li>
				<li ng-class="{active: $routeSegment.startsWith('account')}" ng-hide="apd.data.login_enabled == 0" ng-click="isShowMenu=false; go('/account')"><b class="awsicon awsicon-account"></b>{{apd.l.header_account}}</li>
				<li ng-class="{active: $routeSegment.startsWith('mailbox')}" ng-hide="apd.data.login_enabled == 0" ng-click="isShowMenu=false; go('/mailbox')"><b class="awsicon awsicon-mailbox"></b>{{apd.l.header_messages}} <span class="pull-right badge ng-hide" ng-show="apd.login && new_messages" ng-cloak="">{{new_messages}}</span></li>
				<li ng-class="{active: $routeSegment.startsWith('news')}" ng-click="go('/news/index')"><b class="awsicon awsicon-news"></b>{{apd.l.header_news}}</li>
				<li ng-class="{active: $routeSegment.startsWith('settings')}" ng-click="go('/settings')"><b class="awsicon awsicon-settings"></b>{{apd.l.header_settings}}</li>
			</ul>
		</nav>
		
		<nav class="actions-menu dropdown-menu text-center" ng-show="actions.length > 0" ng-click="actions_menu=false" ng-cloak="">
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="action in actions" ng-click="go('{{action.link}}')" ng-cloak="">{{action.title}}</li>
			</ul>
		</nav>
		
		<div id="wrapper" ng-cloak="">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-hide="hideNavigation" ng-cloak="">
				<div class="container">
					<div class="nav navbar-nav pull-left">
						<a class="navbar-link awsicon" ng-class="{'awsicon-menu': menu}" ng-show="menu" ng-click="isShowMenu = !isShowMenu" ng-cloak=""></a>
						<a class="navbar-link awsicon" ng-class="{'awsicon-back': back}" ng-show="back" ng-click="backAction()" ng-cloak=""></a>
					</div>
					<div class="nav navbar-nav pull-right">
						<a class="navbar-link" ng-class="right" ng-show="right" ng-click="rightAction()"></a>
					</div>
					<div class="nav text-center menu-title" ng-click="actions_menu=!actions_menu" ng-cloak="">{{title|truncate:20}} <i class="awsicon awsicon-dropdown" ng-show="actions.length > 0"></i></div>
				</div>
			</nav>

			<div class="alerts"><alert class="btn-lg text-center" ng-repeat="alert in alerts" type="alert.type" ng-click="closeAlert($index)"><div class="container">{{alert.msg}}<i class="awsicon awsicon-close pull-right"></i></div></alert></div>

			<div app-view-segment="0" ng-hide="!hideDisable && pendingRequests > 0" id="content"></div>
			
			<div class="loading-indicator text-center" ng-show="pendingRequests > 0 && !hideDisable" ng-cloak="">
				<div class="wp"><i class="glyphicon glyphicon-refresh icon-spin"></i>&nbsp;<span ng-bind="apd.l.loading_text"></span><span class="vertical">&nbsp;</span></div>
				<div class="bg"></div>
			</div>
		</div>

		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en&v=3.8"></script>
		<script src="bower_components/angular/angular.js"></script>
      <!--  <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-route-segment/angular-route-segment.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-ui/angular-ui.js"></script>
-->
		<script src="scripts/3fcce641.plugins.js"></script>

		<script src="scripts/fd1e8615.modules.js"></script>

		<script src="scripts/c289d866.scripts.js"></script>
		
		<script>
			function loadScript(){
				if(!navigator.userAgent.match(/android 2/i)){
					function addStyleSheet() {
						var style = document.createElement('style');
						style.type = 'text/css';
						document.getElementsByTagName('head')[0].appendChild(style);
						return document.styleSheets[document.styleSheets.length - 1];
					}
					function addStyle(ss, sel, rule) {
						if (ss.addRule) { ss.addRule(sel, rule); }
						else { if (ss.insertRule) { ss.insertRule(sel + ' {' + rule + '}', ss.cssRules.length); } }
					}
					var s = addStyleSheet();
					addStyle(s, '#content', 'overflow-x:hidden; overflow-y:auto');
					addStyle(s, '#content anim', 'overflow-x:hidden; overflow-y:auto');
					addStyle(s, '#pgscroll', 'overflow-x:hidden; overflow-y:auto');
				}
				
				angular.bootstrap(document, ['realestateMobile']);
			}
			
			window.onload = loadScript;
		</script>	
	</body>
</html>