<div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 95px; position: relative;'>
	<div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='{$site_root}{$img_folder}/available_brousers/cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
	<div style='width: 740px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
	  <div style='width: 75px; float: left;'><img src='{$site_root}{$img_folder}/available_brousers/warning.jpg' alt='Warning!'/></div>
	  <div style='width: 375px; float: left; font-family: Arial, sans-serif;'>
		<div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>{l i='available_brousers_text1' gid='start'}</div>
		<div style='font-size: 12px; margin-top: 15px; line-height: 12px;'>{l i='available_brousers_text2' gid='start'}</div>
	  </div>
	  <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='{$site_root}{$img_folder}/available_brousers/firefox.jpg' style='border: none;' alt='Get Firefox'/></a></div>
	  <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='{$site_root}{$img_folder}/available_brousers/ie8.jpg' style='border: none;' alt='Get Internet Explorer'/></a></div>
	  <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='{$site_root}{$img_folder}/available_brousers/safari.jpg' style='border: none;' alt='Get Safari'/></a></div>
	  <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='{$site_root}{$img_folder}/available_brousers/chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
	</div>
</div>