		</div>
	</div>	
	{helper func_name=show_banner_place module=banners func_param='bottom-banner'}
	<div class="footer">
		<div class="content">
			{menu gid='user_footer_menu'}
			<div class="copyright">&copy;&nbsp;2000-2014&nbsp;<a href="http://www.pilotgroup.net">PilotGroup.NET</a> Powered by <a href="http://www.realtysoft.pro/">PG RealEstate Pro</a></div>
		</div>
	</div>
	{helper func_name=lang_editor module=languages}
	{helper func_name=seo_traker helper_name=seo_module module=seo func_param='footer'}
</body>
</html>
