.row input[type=checkbox].width4{float: left; vertical-align: top;}
.row label.width4{float: left; margin-top: 3px;}
.row label.width4{float: left; width: 250px; max-width: 250px; overflow: hidden; line-height: 22px;}
.row input[type=checkbox].width4:nth-child(4n+1){clear: both;}
.row input[type=checkbox].width6{float: left; vertical-align: top;}
.row label.width6{float: left; margin-top: 3px;}
.row label.width6{float: left; width: 250px; max-width: 250px; overflow: hidden; line-height: 22px;}
.row input[type=checkbox].width6:nth-child(6n+2){clear: both;}
.row input[type=checkbox].width6:nth-child(2){clear: none;}
.row{position: relative;}
.select_actions{position: absolute; bottom: 10px;}
#empty_content{margin: 8px; padding-top: 10px; text-align: center;}

#calendar{position: relative; margin-bottom: 30px;}
#calendar .calendar-nav{margin-top: 40px; margin-bottom: 20px;}
#calendar .calendar-nav .center{text-align: center;}
#calendar .calendar-cont{margin-bottom: 30px; overflow: hidden;}
#calendar.cal-type-2{margin-top: -20px;}
#calendar .calendar{float: left; width: 344px; background-color: #fafafa; vertical-align: top; margin-bottom: -10000px; padding-bottom: 10000px; margin-left: 50px;}
#calendar .calendar:nth-child(2n+1){margin-left: 0;}
#calendar table{table-layout: fixed; padding: 0; border: 0; border-collapse: collapsed; overflow: hidden;}
#calendar td{width: 42px; color: #b5b5b5; padding: 0; overflow: hidden;}
#calendar th{width: 42px; border: 0; line-height: 30px; padding: 0; padding: 2px 4px; color: #777; text-align: left; overflow: hidden;}
#calendar th:last-child{border-right: 0;}
#calendar .book{background-color: #fbd1d1;}
#calendar .close{background-color: #fafafa;}
#calendar .open{background: #d1fbdd;}
#calendar .wait{background-color: #ffff80;}

#calendar.cal-type-2 th{width: 86px;}
#calendar.cal-type-2 td{width: 86px;}

#calendar td{font-size: 11px; vertical-align: top;}
#calendar td div{margin-top: 12px; margin-bottom: 12px; padding: 1px 4px;}
#calendar td.period-start div{margin-left: 1px;}
#calendar td.period-start:first-child div{margin-left: 0;}
#calendar td.period-end div{margin-right: 1px;}
#calendar td.period-end:first-child div{margin-right: 0;}
#calendar td.period-end+td.period-start div{margin-left: 0;}
#calendar td>span{display: none; font-size: 10px; margin-top: -11px; padding: 2px 4px; margin-bottom: -2px; overflow: hidden;}
#calendar td>span.period-comment{background-color: #d84b5d; color: #fff; width: 15px; height: 15px; line-height: 15px; padding: 0; text-align: center; margin-left: 1px; margin-bottom: -1px;}
#calendar td:first-child span.period-comment{margin-left: 0;}
#calendar td div.open, #calendar td div.book{color: #000;}

#calendar .calendar-year{position: absolute; top: -36px; width: 100%; text-align: center;}
#calendar .calendar-month{position: absolute; top: 0; width: 224px; text-align: center; margin: 0 60px;}
#calendar .calendar-months-year{position: absolute; top: 0; width: 174px; text-align: center; margin: 0 60px;}

#calendar .statusbar{font-size: 11px; line-height: 17px; height: 17px;}
#calendar .statusbar span{display: inline-block; width: 42px; height: 17px; margin-left: 10px; vertical-align: top;}
#calendar .statusbar span:first-child{margin-left: 0;}

.listing-items-selected{list-style: none; padding: 0;}
