<span style='color: #000'>1664 frames</span>	<span style='color: #900'>32,256 KB</span>	<span style='color: #090'>5,271.67 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />