{if $count_active > 1}
<li>
{foreach item=item from=$languages}
{if $item.id ne '3'}
{if $item.id ne '4'}
<a href="#" onclick="javascript: load_language({$item.id}); return false;" id="{$item.name}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
{/if}
{/if}
{/foreach}
<script type="text/javascript">{literal}
var lang_url = site_url + 'users/change_language/';
function load_language(value){
	location.href = lang_url + value;
}
{/literal}
</script>
</li>
{/if}
