		</div>
	</div>	
{helper func_name=show_banner_place module=banners func_param='bottom-banner'}
	<footer class="footer">
		<div class="content">
			{menu gid='user_footer_menu'}
			<div class="copyright">{$logo_settings.footerText}</div>
		</div>
	</footer>
	{helper func_name=lang_editor module=languages}
	{helper func_name=seo_traker helper_name=seo_module module=seo func_param='footer'}
</body>
</html>
