{l i='link_more' gid='listings' assign='user_listings' user_name=$user.output_name}
<a {if $is_listings}href="{seolink module='listings' method='user' id_user=$user_id user=$user_name}{/if}" class="btn-link link-r-margin" title="{$user_listings}"><ins class="fa fa-listings {if !$is_listings}g{else}hover{/if} fa-lg edge"><ins class="fa fa-file-o"></ins><ins class="fa fa-file-text-o"></ins></ins>{$custStr}</a>
 