<div class="user_listings">	
	<h2>{l i='header_listings' gid='listings'}</h2>	
	{foreach item=item from=$listings}	
	<div class="listing-block">		
		<div id="item-block-{$item.id}" class="item listing">			
			<h3><a href="{seolink module='listings' method='view' data=$item}">{$item.output_name|truncate:40}</a></h3>
			<div class="image">
				{l i='link_listing_view' gid='listings' type='button' assign='logo_title' id_ref=$item.id}	
				{l i='text_listing_logo' gid='listings' type='button' assign='text_listing_logo' id_ref=$item.id property_type=$item.property_type_str operation_type=$item.operation_type_str location=$item.location}	
				<a href="{seolink module='listings' method='view' data=$item}">
					<img src="{$item.media.photo.thumbs.small}" alt="{$text_listing_logo}" title="{$logo_title}">
					{if $item.photo_count || $item.is_vtour}	
					<div class="photo-info">
						<div class="panel">
							{if $item.photo_count}<span><ins class="fa fa-camera w"></ins> {$item.photo_count}</span>{/if}
							{if $item.is_vtour}<span><ins class="fa fa-rotate-left w"></ins> 360&deg;</span>{/if}
						</div>
						<div class="background"></div>
					</div>
					{/if}
				</a>
			</div>
			<div class="body">
				{l i='no_information' gid='start' assign='no_info_str'}
				<h3>{block name=listing_price_block module='listings' data=$item}</h3>
				<div class="t-1">
					{$item.property_type_str} {$item.operation_type_str}					
					<br>{$item.square_output|truncate:30}					
					{if $item.date_open|strtotime >= $tstamp}<br>{l i='text_date_open_status' gid='listings'}{/if}
				</div>				
				<div class="t-2"></div>
			</div>			
			{if $item.headline}<p class="headline" title="{$item.headline}">{$item.headline|truncate:50}</p>{/if}
			<div class="clr"></div>	
		</div>	
	</div>	
	{/foreach}	
	{if $listings_count}	
		{assign var='user_output_name' value=$user.output_name|truncate:25}	
		{l i='link_more' gid='listings' assign='user_listings' user_name=$user.output_name}	
		{l i='link_all_user_listings' gid='listings' assign='user_listings_caption' user_name=$user_output_name}	
		<div class="more-listings"><a href="{$site_url}listings/user/{$user_id}" title="{$user_listings}">{$user_listings_caption} ({$listings_count})</a></div>
	{/if}
</div>
