<div class="anim container">
	<form role="form" ng-submit="login()" class="view-fields" autocomplete="off">
		<div class="form-group">
			<label for="emailField" ng-bind="apd.l.field_email"></label>
			<input type="email" class="form-control" id="emailField" ng-model="loginForm.email" autocomplete="off" placeholder="{{apd.l.help_email}}" required="">
		</div>
		<div class="form-group">
			<label for="passwordField" ng-bind="apd.l.field_password"></label>
			<input type="password" class="form-control" id="passwordField" ng-model="loginForm.password" autocomplete="off" placeholder="{{apd.l.help_password}}" required="">
		</div>
		<button type="submit" class="btn btn-primary col-xs-12 btn-lg" ng-disabled="loginForm.$invalid" ng-bind="apd.l.btn_login"></button>
	</form>
</div>