<div class="anim container">
	<div class="pgscroll container" id="pgscroll" pg-scroll="" on-scroll="onScroll()" ng-show="orders.length != 0" ng-cloak="">
		<div>
			<ul class="orders nav nav-pills nav-stacked" ng-cloak="">
				<li ng-repeat="order in orders">
					<div class="image-container"><img ng-src="{{order.listing.media.photo.thumbs.small}}" alt="{{apd.l.text_photo}}" ng-click="go('/listing/'+order.listing.id+'/overview')"></div>
					<div class="order-info">
						<h5>{{order.listing.output_name|truncate:50}}</h5>
						<div class="font_status">{{order.status_str}}</div>
						<div>{{order.date_start_output}} — {{order.date_end_output}}</div>
						<div>{{apd.l.field_guests}} {{order.guests}}</div>
						<div>{{order.price_output}}</div>
						<!-- div ng-cloak>{{order.comment}}</div>
						<!-- div ng-cloak>{{order.date_created}}</div -->
						<i class="badge awsicon awsicon-mailbox" ng-show="mode == 'mailbox'" ng-click="message(order)" ng-cloak=""></i>
						<i class="badge awsicon awsicon-delete" ng-show="mode == 'delete'" ng-click="delete(order, $index)" ng-cloak=""></i>
					</div>
				</li>
			</ul>
			<div>
				<button class="btn btn-primary col-xs-12 btn-lg" ng-show="isNext" ng-click="onScroll()">{{apd.l.link_more}}</button>
				<div class="text-center" ng-show="isLoading"><i class="awsicon awsicon-loading icon-spin"></i></div>
			</div>
		</div>
	</div>
	<div class="body pt10 pb10 font_header text-center" ng-if="orders.length == 0" ng-cloak="">{{apd.l.no_orders}}</div>
</div>