<form role="form" ng-submit="save()" class="view-fields" autocomplete="off">
	<div class="form-group">
		<label for="passwordOldField" ng-cloak="">{{apd.l.field_password_old}}</label>
		<input type="password" class="form-control" id="passwordOldField" ng-model="accountForm.password_old" autocomplete="off" placeholder="{{apd.l.help_password_old}}" required="">
	</div>
	<div class="form-group">
		<label for="passwordNewField" ng-cloak="">{{apd.l.field_password_new}}</label>
		<input type="password" class="form-control" id="passwordNewField" ng-model="accountForm.password_new" autocomplete="off" placeholder="{{apd.l.help_password_new}}" required="">
	</div>
	<button type="submit" class="btn btn-primary col-xs-12 btn-lg" ng-disabled="accountForm.$invalid" ng-cloak="">{{apd.l.btn_save}}</button>
</form>