<div ng-click="go('/account/profile/personal')" ng-cloak="">
		<h6>{{apd.l.header_profile_personal}}<i class="awsicon awsicon-edit ml10"></i></h6>
		<div class="details view-fields">
			<div class="r">
				<div class="f">{{apd.l.field_fname}}</div>
				<div class="v">{{profile.fname|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f">{{apd.l.field_sname}}</div>
				<div class="v">{{profile.sname|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f">{{apd.l.field_phone}}</div>
				<div class="v">{{profile.phone|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r" ng-show="profile.user_type == 'company'">
				<div class="f">{{apd.l.field_company_name}}</div>
				<div class="v">{{profile.company_name|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f">{{apd.l.field_user_logo}}</div>
				<div class="v"><img class="img-responsive" ng-src="{{profile.logo.thumbs.middle}}"></div>
			</div>
		</div>
	</div>

	<div class="mt20" ng-click="go('/account/profile/company')" ng-show="profile.user_type == 'agent'" ng-cloak="">
		<h6>{{apd.l.header_profile_company}}<i class="awsicon awsicon-edit ml10"></i></h6>
		<div class="details view-fields">
			<div class="r">
				<div class="f">{{apd.l.field_agent_company}}</div>
				<div class="v">{{profile.company.output_name|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r" ng-show="profile.agent_company != '0' && profile.agent_status == '1'">
				<div class="f">{{apd.l.field_contact_email}}</div>
				<div class="v">{{profile.company.contact_email|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r" ng-show="profile.agent_company != '0' && profile.agent_status == '1'">
				<div class="f">{{apd.l.field_contact_phone}}:</div>
				<div class="v">{{profile.company.contact_phone|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r" ng-show="profile.agent_company != '0' && profile.agent_status == '0' && profile.agent_status_str">
				<div class="f">{{apd.l.field_agent_status}}</div>
				<div class="v">{{profile.agent_status_str}} {{apd.l.text_from}} {{profile.agent_date_output}}</div>
			</div>
		</div>
	</div>

	<div class="mt20" ng-click="go('/account/profile/contacts')" ng-cloak="">
		<h6>{{apd.l.header_profile_contacts}}<i class="awsicon awsicon-edit ml10"></i></h6>
		<div class="details view-fields">
			<div class="r">
				<div class="f">{{apd.l.field_contact_email}}</div>
				<div class="v">{{profile.contact_email|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f">{{apd.l.field_contact_phone}}</div>
				<div class="v">{{profile.contact_phone|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f">{{apd.l.field_contact_info}}</div>
				<div class="v">{{profile.contact_info|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r" ng-show="profile.user_type == 'company'">
				<div class="f">{{apd.l.field_web_url}}</div>
				<div class="v">{{profile.web_url|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f">{{apd.l.field_facebook}}</div>
				<div class="v">{{profile.facebook|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f" ng-cloak="">{{apd.l.field_twitter}}</div>
				<div class="v">{{profile.twitter|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f" ng-cloak="">{{apd.l.field_vkontakte}}</div>
				<div class="v">{{profile.vkontakte|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r" ng-show="profile.user_type == 'company'">
				<div class="f">{{apd.l.field_working_days}}</div>
				<div class="v">{{profile.working_days_str|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r" ng-show="profile.user_type == 'company'">
				<div class="f" ng-cloak="">{{apd.l.field_working_hours}}</div>
				<div class="v">{{profile.working_hours_str|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r" ng-show="profile.user_type == 'company'">
				<div class="f" ng-cloak="">{{apd.l.field_lunch_time}}</div>
				<div class="v">{{profile.lunch_time_str|checkempty:apd.l.no_information}}</div>
			</div>
		</div>
	</div>

	<div class="mt20" ng-click="go('/account/profile/location')" ng-show="profile.user_type == 'company'">
		<h6>{{apd.l.header_profile_location}}<i class="awsicon awsicon-edit ml10"></i></h6>
		<div class="details view-fields">
			<div class="r">
				<div class="f">{{apd.l.field_country}}:</div>
				<div class="v">{{profile.country|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f" ng-cloak="">{{apd.l.field_region}}:</div>
				<div class="v">{{profile.region|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f">{{apd.l.field_city}}:</div>
				<div class="v">{{profile.city|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f">{{apd.l.field_address}}:</div>
				<div class="v">{{profile.address|checkempty:apd.l.no_information}}</div>
			</div>
			<div class="r">
				<div class="f">{{apd.l.field_zip}}:</div>
				<div class="v">{{profile.postal_code|checkempty:apd.l.no_information}}</div>
			</div>
		</div>
	</div>