<div class="form-group">
	<label for="fnameField" ng-cloak="">{{apd.l.field_fname}}</label>
	<input type="text" class="form-control" id="fnameField" ng-model="$parent.registerForm.fname" placeholder="{{apd.l.help_fname}}" autocomplete="off" required="">
</div>
<div class="form-group">
	<label for="snameField" ng-cloak="">{{apd.l.field_sname}}</label>
	<input type="text" class="form-control" id="snameField" ng-model="$parent.registerForm.sname" placeholder="{{apd.l.help_sname}}" autocomplete="off" required="">
</div>