<form role="form" ng-submit="save()" class="view-fields" ng-show="$parent.profile.user_type == 'company'" autocomplete="off">
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_country}}</label>
	<select class="form-control" ng-model="profileForm.id_country" ng-options="country.code as country.name for country in countries" ng-cloak="">
		<option value="">{{apd.l.text_all}}</option>
	</select>
</div>
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_region}}</label>
	<select class="form-control" ng-model="profileForm.id_region" ng-options="region.id as region.name for region in regions" ng-cloak="">
		<option value="">{{apd.l.text_all}}</option>
	</select>
</div>
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_city}}</label>
	<select class="form-control" ng-model="profileForm.id_city" ng-options="city.id as city.name for (id, city) in cities" ng-cloak="">
		<option value="">{{apd.l.text_all}}</option>
	</select>
</div>
<div class="form-group" ng-show="use_district" ng-cloak="">
	<label ng-cloak="">{{apd.l.field_district}}</label>
	<select class="form-control" ng-model="profileForm.id_district" ng-options="district.id as district.name for (id, district) in districts" ng-cloak="">
		<option value="">{{apd.l.text_all}}</option>
	</select>
</div>
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_address}}</label>
	<input type="text" class="form-control" ng-model="profileForm.address" autocomplete="off">
</div>
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_zip}}</label>
	<input type="text" class="form-control" ng-model="profileForm.postal_code" autocomplete="off">
</div>
<button class="btn btn-primary btn-lg btn-block" ng-disabled="!profile && profileForm.$invalid" ng-cloak="">{{apd.l.btn_save}}</button>
</form>