<form role="form" ng-submit="save()" class="view-fields" autocomplete="off">
	<div class="form-group">
		<label for="phoneOldField" ng-cloak="">{{apd.l.field_phone_old}}</label>
		<div id="phoneOldField" ng-cloak="">{{profile.phone}}</div>
	</div>
	<div class="form-group">
		<label for="phoneNewField" ng-cloak="">{{apd.l.field_phone_new}}</label>
		<input type="text" class="form-control" id="phoneNewField" ng-model="accountForm.phone" autocomplete="off" placeholder="{{apd.l.help_phone_new}}" required="">
	</div>
	<button type="submit" class="btn btn-primary col-xs-12 btn-lg" ng-disabled="accountForm.$invalid" ng-cloak="">{{apd.l.btn_save}}</button>
</form>