<form role="form" ng-submit="save()" class="view-fields" autocomplete="off">
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_fname}}</label>
	<input type="text" class="form-control" ng-model="personalForm.fname" autocomplete="off" required="">
</div>
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_sname}}</label>
	<input type="text" class="form-control" ng-model="personalForm.sname" autocomplete="off" required="">
</div>

<div class="form-group">
	<label ng-cloak="">{{apd.l.field_phone}}</label>
	<input type="text" class="form-control" ng-model="personalForm.phone" autocomplete="off" required="">
</div>

<div class="form-group" ng-show="$parent.profile.user_type == 'company'">
	<label ng-cloak="">{{apd.l.field_company_name}}</label>
	<input type="text" class="form-control" ng-model="personalForm.company_name" autocomplete="off" required="">
</div>

<div class="form-group">
	<label ng-cloak="">{{apd.l.field_user_logo}}</label>
	<div ng-show="$parent.profile.user_logo" class="mb10">
		<div class="mb10">
			<img class="img-responsive" ng-src="{{$parent.profile.logo.thumbs.small}}">
		</div>
		<div class="checkbox checkbox-inline">
			<input type="checkbox" class="form-control" ng-model="personalExtended.user_icon_delete" id="avatar_delete"> 
			<label for="avatar_delete" ng-cloak="">{{apd.l.link_logo_delete}}</label>
		</div>
	</div>
	<input type="file" accept="image/*;capture=camera" class="form-control" ng-file-select="upload($files)">
	<div ng-show="upload_indicator != -1" ng-cloak=""><i class="awsicon awsicon-settings"></i> {{upload_indicator}}%</div>
</div>
<button class="btn btn-primary btn-lg btn-block" ng-disabled="!profile && personalForm.$invalid" ng-cloak="">{{apd.l.btn_save}}</button>
</form>