<div class="form-group">
	<label for="fnameField" ng-cloak="">{{apd.l.field_fname}}</label>
	<input type="text" class="form-control" id="fnameField" ng-model="$parent.registerForm.fname" autocomplete="off" placeholder="{{apd.l.help_fname}}" required="">
</div>
<div class="form-group">
	<label for="snameField" ng-cloak="">{{apd.l.field_sname}}</label>
	<input type="text" class="form-control" id="snameField" ng-model="$parent.registerForm.sname" autocomplete="off" placeholder="{{apd.l.help_sname}}" required="">
</div>
<div class="form-group">
	<label for="company_nameField" ng-cloak="">{{apd.l.field_company_name}}</label>
	<input type="text" class="form-control" id="company_nameField" ng-model="$parent.registerForm.company_name" autocomplete="off" placeholder="{{apd.l.help_company_name}}" required="">
</div>