<form role="form" ng-submit="save()" class="view-fields" autocomplete="off">
<div class="form-group" ng-show="$parent.profile.agent_company == '0'" ng-cloak="">
	<label ng-cloak="">{{apd.l.field_agent_company}}</label>
	<div class="dropdown">
		<input type="text" ng-model="company_name" class="form-control dropdown-toggle" autocomplete="off" ng-blur="hideCompanies()" ng-focus="showCompanies()">
		<input type="hidden" ng-model="agentForm.agent_company" required="">
		<div>
			<div class="autocomplete-menu" ng-show="autoCompanies && !isLoading && companies.length>0" ng-cloak="">
				<a ng-repeat="company in companies" ng-click="set_company('{{company.id}}', '{{company.output_name|escape}}')">{{company.output_name}}</a>
			</div>
			<div class="text-left" ng-show="isLoading"><i class="awsicon awsicon-loading icon-spin"></i></div>
		</div>
	</div>
</div>
<div class="form-group" ng-if="$parent.profile.agent_company != '0'" ng-cloak="">
	{{$parent.profile.company.output_name}} <span ng-if="$parent.profile.agent_status == '0'">({{apd.l.text_agency_approval}} {{$parent.profile.agent_date_output}})</span>
</div>	
<button class="btn btn-primary btn-lg btn-block" ng-disabled="!profile && agentForm.$invalid" ng-if="$parent.profile.agent_company == '0'" ng-cloak="">{{apd.l.btn_save}}</button>
<button class="btn btn-primary btn-lg btn-block" ng-disabled="!profile && agentForm.$invalid" ng-if="$parent.profile.agent_company != '0' && $parent.profile.agent_status == '0'" ng-cloak="">{{apd.l.btn_cancel}}</button>
<button class="btn btn-primary btn-lg btn-block" ng-disabled="!profile && agentForm.$invalid" ng-if="$parent.profile.agent_company != '0' && $parent.profile.agent_status == '1'" ng-cloak="">{{apd.l.btn_leave_company}}</button>
</form>