<form role="form" ng-submit="save()" class="view-fields" autocomplete="off">
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_contact_email}}</label>
	<input type="email" class="form-control" ng-model="contactsForm.contact_email" autocomplete="off">
</div>
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_contact_phone}}</label>
	<input type="text" class="form-control" ng-model="contactsForm.contact_phone" autocomplete="off">
</div>
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_contact_info}}</label>
	<textarea class="form-control" ng-model="contactsForm.contact_info"></textarea>
</div>
<div class="form-group" ng-show="$parent.profile.user_type == 'company'">
	<label ng-cloak="">{{apd.l.field_web_url}}</label>
	<input type="text" class="form-control" ng-model="contactsForm.web_url" autocomplete="off">
</div>
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_facebook}}</label>
	<input type="text" class="form-control" ng-model="contactsForm.facebook" autocomplete="off">
</div>
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_twitter}}</label>
	<input type="text" class="form-control" ng-model="contactsForm.twitter" autocomplete="off">
</div>
<div class="form-group">
	<label ng-cloak="">{{apd.l.field_vkontakte}}</label>
	<input type="text" class="form-control" ng-model="contactsForm.vkontakte" autocomplete="off">
</div>
<div class="form-group" ng-show="$parent.profile.user_type == 'company'">
	<label ng-cloak="">{{apd.l.field_working_days}}</label>
	<fieldset>
		<div class="checkbox checkbox-inline" ng-if="apd.language.toLowerCase() != 'ru'">
			<input type="checkbox" ng-model="working_days.sunday" id="working_days_sunday"> 
			<label for="working_days_sunday" ng-cloak="">{{apd.d.week_names.option.sunday}}</label>
		</div>
		<div class="checkbox checkbox-inline">
			<input type="checkbox" ng-model="working_days.monday" id="working_days_monday"> 
			<label for="working_days_monday" ng-cloak="">{{apd.d.week_names.option.monday}}</label>
		</div>
		<div class="checkbox checkbox-inline">
			<input type="checkbox" ng-model="working_days.tuesday" id="working_days_tuesday"> 
			<label for="working_days_tuesday" ng_cloak="">{{apd.d.week_names.option.tuesday}}</label>
		</div>
		<div class="checkbox checkbox-inline">
			<input type="checkbox" ng-model="working_days.wednesday" id="working_days_wednesday"> 
			<label for="working_days_wednesday" ng-cloak="">{{apd.d.week_names.option.wednesday}}</label>
		</div>
		<div class="checkbox checkbox-inline">
			<input type="checkbox" ng-model="working_days.thursday" id="working_days_thursday"> 
			<label for="working_days_thursday" ng-cloak="">{{apd.d.week_names.option.thursday}}</label>
		</div>
		<div class="checkbox checkbox-inline">
			<input type="checkbox" ng-model="working_days.friday" id="working_days_friday"> 
			<label for="working_days_friday" ng-cloak="">{{apd.d.week_names.option.friday}}</label>
		</div>
		<div class="checkbox checkbox-inline">
			<input type="checkbox" ng-model="working_days.saturday" id="working_days_saturday"> 
			<label for="working_days_saturday" ng-cloak="">{{apd.d.week_names.option.saturday}}</label>
		</div>
		<div class="checkbox checkbox-inline" ng-if="apd.language.toLowerCase() == 'ru'">
			<input type="checkbox" ng-model="working_days.sunday" id="working_days_sunday"> 
			<label for="working_days_sunday" ng-cloak="">{{apd.d.week_names.option.sunday}}</label>
		</div>
	</fieldset>
</div>
<div class="form-group" ng-show="$parent.profile.user_type == 'company'">
	<label ng-cloak="">{{apd.l.field_working_hours}}</label>
	<div>
		<select class="form-control time-select" ng-model="contactsForm.working_hours_begin" ng-options="option.key as option.label for option in apd.d.dayhour_names.option|sortByKeys">
		</select>
		<select class="form-control time-select" ng-model="contactsForm.working_hours_end" ng-options="option.key as option.label for option in apd.d.dayhour_names.option|sortByKeys">
		</select>
	</div>
</div>
<div class="form-group" ng-show="$parent.profile.user_type == 'company'">
	<label ng-cloak="">{{apd.l.field_lunch_time}}</label>
	<div>
		<select class="form-control time-select" ng-model="contactsForm.lunch_time_begin" ng-options="option.key as option.label for option in apd.d.dayhour_names.option|sortByKeys">
		</select>
		<select class="form-control time-select" ng-model="contactsForm.lunch_time_end" ng-options="option.key as option.label for option in apd.d.dayhour_names.option|sortByKeys">
		</select>
	</div>
</div>
<button class="btn btn-primary btn-lg btn-block" ng-disabled="!profile && contactsForm.$invalid" ng-cloak="">{{apd.l.btn_save}}</button>
</form>