<div class="anim container">
	<ul class="nav nav-pills nav-stacked" ng-cloak="">
		<li ng-if="apd.login == 0" ng-click="go('/account/login')">{{apd.l.header_login}} <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-if="apd.login == 0" ng-click="go('/account/register/private')" ng-show="apd.data.register.indexOf('private') != -1" ng-cloak="">{{apd.l.register_private}} <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-if="apd.login == 0" ng-click="go('/account/register/company')" ng-show="apd.data.register.indexOf('company') != -1" ng-cloak="">{{apd.l.register_company}} <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-if="apd.login == 0" ng-click="go('/account/register/agent')" ng-show="apd.data.register.indexOf('agent') != -1" ng-cloak="">{{apd.l.register_agent}} <i class="awsicon awsicon-rarrow"></i></li>
		
		<li ng-if="apd.login == 1" ng-click="go('/account/email')">{{apd.l.link_change_email}} <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-if="apd.login == 1" ng-click="go('/account/phone')">{{apd.l.link_change_phone}} <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-if="apd.login == 1" ng-click="go('/account/password')">{{apd.l.link_change_password}} <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-if="apd.login == 1" ng-click="go('/account/profile')">{{apd.l.link_change_profile}} <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-if="apd.login == 1" ng-click="go('/account/orders')">{{apd.l.link_orders}} <i class="awsicon awsicon-rarrow"></i></li>
	</ul>
</div>