<div class="anim container">
	<h6 ng-cloak="">{{apd.l['register_'+type]}}</h6>
	<form role="form" ng-submit="register()" autocomplete="off">
	<div class="view-fields">
		<div app-view-segment="1"></div>
		<div class="form-group">
			<label for="emailField" ng-cloak="">{{apd.l.field_email}}</label>
			<input type="email" class="form-control" id="emailField" ng-model="registerForm.email" autocomplete="off" placeholder="{{apd.l.help_email}}" required="">
		</div>
		<div class="form-group">
			<label for="emailField" ng-cloak="">{{apd.l.field_phone}}</label>
			<input type="text" class="form-control" id="phoneField" ng-model="registerForm.phone" autocomplete="off" placeholder="{{apd.l.help_phone}}" required="">
		</div>
		<div class="form-group">
			<label for="passwordField" ng-cloak="">{{apd.l.field_password}}</label>
			<input type="password" class="form-control" id="passwordField" ng-model="registerForm.password" autocomplete="off" placeholder="{{apd.l.help_password}}" required="">
		</div>
		<button type="submit" class="btn btn-primary col-xs-12 btn-lg" ng-disabled="registerForm.$invalid" ng-cloak="">{{apd.l.btn_register}}</button>
	</div>
	</form>
</div>