<form role="form" ng-submit="save()" class="view-fields" autocomplete="off">
	<div class="form-group">
		<label for="emailOldField" ng-bind="apd.l.field_email_old"></label>
		<div id="emailOldField" ng-cloak="">{{profile.email}}</div>
	</div>
	<div class="form-group">
		<label for="emailNewField" ng-bind="apd.l.field_email_new"></label>
		<input type="email" class="form-control" id="emailNewField" ng-model="accountForm.email" autocomplete="off" placeholder="{{apd.l.help_email_new}}" required="">
	</div>
	<button type="submit" class="btn btn-primary col-xs-12 btn-lg" ng-disabled="accountForm.$invalid">{{apd.l.btn_save}}</button>
</form>