<form role="form" ng-submit="restore()" autocomplete="off">
<div class="anim container">
	<div class="view-fields">
		<p ng-cloak="">{{apd.l.header_password_restore}}</p>
		<div class="form-group">
			<label for="emailField" ng-cloak="">{{apd.l.field_email}}</label>
			<input type="email" class="form-control" id="emailField" ng-model="restoreForm.email" autocomplete="off" placeholder="{{apd.l.help_email}}" required="">
		</div>
		<button type="submit" class="btn btn-primary col-xs-12 btn-lg" ng-disabled="restoreForm.$invalid">{{apd.l.btn_send}}</button>
	</div>
</div>
</form>