<div class="calendar">
	<nav>
		<div class="pull-left icon-chevron-left" ng-click="prev()" ng-cloak=""></div>
		<div class="pull-right icon-chevron-right" ng-click="next()" ng-cloak=""></div>
		<p class="calendar-month text-center" ng-if="listing.listing_price_period=='1'"><b ng-cloak="">{{calendar.month}}</b>/<b ng-cloak="">{{calendar.year}}</b></p>
		<p class="calendar-month text-center" ng-if="listing.listing_price_period=='2'"><b ng-cloak=""><b ng-cloak="">{{calendar.year}}</b></b></p>
	</nav>
	<table cellpadding="0" cellspacing="0">
		<thead ng-if="listing.listing_price_period=='1'">
			<tr>							
				<th ng-repeat="week in weeks">{{week}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="week in calendar.data">
				<td ng-class="{'period-start': day.start, 'period-end': day.end}" ng-repeat="day in week">
					<div class="period-{{day.status}}" ng-bind="day.name"></div>
					<span class="period-comment" tooltip="{{day.comment}}" tooltip-trigger="mouseenter" tooltip-placement="top" ng-if="day.status=='book' && day.comment && day.start">i</span>
					<span ng-if="day.status!='book'" ng-bind="day.price"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>