<form role="form" ng-submit="order()" class="view-fields" autocomplete="off">
	<div class="form-group">
		<label>{{apd.l.field_move_in}}</label>
		<div class="datepicker" ng-if="$parent.listing.listing_price_period == '1'">
			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="orderForm.date_start" is-open="$parent.start_opened" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-weeks="showWeeks" close-text="{{apd.l.btn_close}}" autocomplete="off" required="">
			<i class="icon-calendar pull-right"></i>
		</div>
		<div ng-if="$parent.listing.listing_price_period == '2'">
			<select ng-model="orderForm.month_start" ng-options="option.key as option.label for option in apd.d.month_names.option|sortByKeys"></select>
			<select ng-model="orderForm.year_start" ng-options="year for year in years"></select>
		</div>
	</div>
	<div class="form-group">
		<label ng-cloak="">{{apd.l.field_move_out}}</label>
		<div class="datepicker" ng-if="$parent.listing.listing_price_period == '1'">
			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="orderForm.date_end" is-open="$parent.end_opened" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-weeks="showWeeks" close-text="{{apd.l.btn_close}}" autocomplete="off" required="">
			<i class="icon-calendar pull-right"></i>
		</div>
		<div ng-if="$parent.listing.listing_price_period == '2'">
			<select ng-model="orderForm.month_end" ng-options="option.key as option.label for option in apd.d.month_names.option|sortByKeys"></select>
			<select ng-model="orderForm.year_end" ng-options="year for year in years"></select>
		</div>
	</div>	
	<div class="form-group">
		<label ng-cloak="">{{apd.l.field_guests}}</label>
		<select class="form-control" ng-model="orderForm.guests" ng-options="option.key as option.label for option in apd.d.booking_guests.option|sortByKeys">
		</select>
	</div>	
	<div class="form-group">
		<label ng-cloak="">{{apd.l.field_comment}}</label>
		<textarea class="form-control" ng-model="orderForm.comment"></textarea>
	</div>
	<div class="form-group">
		<label ng-cloak="">{{apd.l.field_price_book}}</label>
		<p ng-bind="price|checkempty:apd.l.text_price_unknown"></p>
	</div>
	<button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="orderFrom.$invalid" ng-cloak="">{{apd.l.btn_save}}</button>
</form>