<div class="photos">
	<div class="photo col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-repeat="photo in $parent.$parent.photos">
		<div class="image-container">
			<img ng-src="{{photo.middle}}" alt="{{apd.l.text_photo}}" ng-click="go('/listing/{{$parent.$parent.listing.listing_id}}/gallery/{{$index+1}}')">
			<div class="image-info-container" ng-if="photo.comment" ng-click="go('/listing/{{$parent.$parent.listing.listing_id}}/gallery/{{$index+1}}')">
				<div class="image-info">{{photo.comment|truncate:20}}</div>
			</div>
		</div>
	</div>
</div>