<div class="anim container">
	<form role="form" ng-submit="search()" class="view-fields" autocomplete="off">
		<div class="form-group">
			<label for="typeField">{{apd.l.field_location}}</label>
			<select class="form-control" id="id_countryField" ng-model="searchForm.country" ng-options="country.code as country.name for country in countries">
				<option value="">{{apd.l.text_all}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="keywordField" class="sr-only">{{apd.l.field_location}}</label>
			<input type="text" class="form-control dropdown-toggle" id="keywordField" ng-model="searchForm.keyword" placeholder="{{apd.l.help_location}}" ng-blur="hideLocations()" ng-focus="showLocations()" autocomplete="off">
			<input type="hidden" ng-model="searchForm.region">
			<input type="hidden" ng-model="searchForm.city">
			<div>
				<div class="autocomplete-menu" ng-show="autoLocations && !isLoading && locations.length>0" ng-cloak="">
					<a ng-repeat="location in locations" ng-click="set_location('{{location.country}}', '{{location.region}}', '{{location.city}}', '{{location.name|escape}}')">{{location.name}}</a>
				</div>
				<div class="text-left" ng-show="isLoading"><i class="awsicon awsicon-loading icon-spin"></i></div>
			</div>
		</div>
		<div class="form-group">
			<label for="typeField">{{apd.l.field_property_type}}</label>
			<select class="form-control" id="categoryField" ng-model="searchForm.category" ng-options="property.gid as property.name|level:property.level for property in properties">
				<option value="">{{apd.l.text_all}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="typeField">{{apd.l.field_price}}</label>
			<div class="row">
				<div class="col-xs-6 col-sm-3 col-md-3"><input type="number" class="form-control" id="priceMinField" ng-model="searchForm.price_min" autocomplete="off" placeholder="{{apd.l.text_price_from}}"></div>
				<div class="col-xs-6 col-sm-3 col-md-3"><input type="number" class="form-control" id="priceMaxField" ng-model="searchForm.price_max" autocomplete="off" placeholder="{{apd.l.text_price_to}}"></div>
			</div>
		</div>
		<div id="booking-search" class="booking-search" ng-if="searchForm.type == 'rent' || searchForm.type=='lease'">
			<div class="form-group">
				<label>{{apd.l.field_move_in}}</label>
				<div class="datepicker">
					<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="searchForm.booking_date_start" is-open="$parent.start_opened" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-weeks="showWeeks" close-text="{{apd.l.btn_close}}" autocomplete="off" required="">
					<i class="icon-calendar pull-right"></i>
				</div>
			</div>
			<div class="form-group">
				<label>{{apd.l.field_move_out}}</label>
				<div class="datepicker">
					<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="searchForm.booking_date_end" is-open="$parent.end_opened" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-weeks="showWeeks" close-text="{{apd.l.btn_close}}" autocomplete="off" required="">
					<i class="icon-calendar pull-right"></i>
				</div>
			</div>
			<div class="form-group">
				<label for="typeField">{{apd.l.field_guests}}</label>
				<select class="form-control" id="guestsField" ng-model="searchForm.guests" ng-options="option.key as option.label for option in apd.d.booking_guests.option|sortByKeys">
					<option value="">{{apd.l.text_all}}</option>
				</select>
			</div>
		</div>
		<button type="submit" class="btn btn-primary col-xs-12 btn-lg" ng-disabled="searchForm.$invalid">{{apd.l.btn_search}}</button>
	</form>
</div>