<form role="form" class="view-fields" ng-submit="share()" autocomplete="off">
	<div class="form-group">
		<label>{{apd.l.field_email}}</label>
		<input type="email" class="form-control" ng-model="shareForm.email" autocomplete="off" required="">
	</div>
	<div class="form-group">
		<label>{{apd.l.field_user_name}}</label>
		<input type="text" class="form-control" ng-model="shareForm.username" autocomplete="off" required="">
	</div>
	<div class="form-group">
		<label>{{apd.l.field_comment}}</label>
		<textarea class="form-control" ng-model="shareForm.comment" autocomplete="off" required=""></textarea>
	</div>
	<button type="submit" class="btn btn-primary col-xs-12 btn-lg" ng-disabled="shareForm.$invalid">{{apd.l.btn_send}}</button>
</form>