<div id="map_container" ui-map="map" class="map" ui-options="mapOptions" ng-show="apd.data.mapProvider == 'google'"></div>
<ya-map ya-zoom="{{zoom}}" ya-center="{{center}}" class="map" ya-after-init="afterMapInit($target)" ng-show="apd.data.mapProvider == 'yandex'" ya-event-click="mapClick()">
	<ya-toolbar ya-name="smallZoomControl"></ya-toolbar>
	<ya-cluster>
        <ya-geo-object ya-source="marker" ng-repeat="marker in markers"></ya-geo-object>
    <ya-cluster>
</ya-cluster></ya-cluster></ya-map>