<div class="slider" id="slider" ng-swipe-right="prev()" ng-swipe-left="next()" ng-click="toggleMenu()" style="max-width: 100%">
	<carousel interval="slider.interval" ng-show="carousel">
		<slide ng-repeat="photo in $parent.$parent.photos" active="photo.active">
			<img ng-src="{{photo.big}}">
			<div class="carousel-caption" ng-if="photo.comment">{{photo.comment}}</div>
		</slide>
	</carousel>		
</div>