<div class="body">
	<div class="listing-info">
		<div id="listing-gallery" class="listing-gallery">
			<div class="image-container">
				<img ng-src="{{photo}}" ng-click="gallery()">
				<div class="image-info-container" ng-if="photo_comment" ng-click="gallery()">
					<div class="image-info">{{photo_comment|truncate:100}}</div>
				</div>
			</div>
		</div>
		<div class="listing-data">
			<h5>{{listing.listing_property_type_str}} {{listing.listing_operation_type_str}}</h5>
			<h4>{{listing.listing_output_name}}</h4>
			<div class="font_price">{{listing.listing_price_str}}</div>
			<div class="font_status" ng-show="listing.listing_sold_output">{{listing.listing_sold_output}}</div>
			<div class="font_status" ng-show="listing.listing_service_output">{{listing.listing_service_output}}</div>
			<div class="font_headline" ng-show="listing.listing_headline">{{listing.listing_headline}}</div>
		</div>
	</div>
	<div class="pg-btn-container row">
		<div class="col-xs-6 col-md-4 col-lg-3" ng-class="{inactive: listing.is_owner}" ng-show="listing.listing_operation_type == 'rent'" ng-cloak=""><div ng-click="order_action()"><span class="awsicon awsicon-book"></span><div>{{apd.l.tool_listing_order}}</div></div></div>
		<div class="col-xs-6 col-md-4 col-lg-3" ng-class="{inactive: listing.is_owner}" ng-show="listing.listing_operation_type != 'rent'" ng-cloak=""><div ng-click="message_action()"><span class="awsicon awsicon-mailbox"></span><div>{{apd.l.tool_send_message}}</div></div></div>
		<div class="col-xs-6 col-md-4 col-lg-3"><div ng-click="go('/listing/'+listing.listing_id+'/share')"><span class="awsicon awsicon-share"></span><div>{{apd.l.tool_listing_share}}</div></div></div>
	</div>
	<div class="details">
		<div class="r" ng-show="listing.listing_price_type_str">
			<div class="f">{{apd.l.field_price_type}}</div>
			<div class="v">{{listing.listing_price_type_str}}</div>
		</div>
		<div class="r">
			<div class="f">{{apd.l.field_square}}</div>
			<div class="v">{{listing.listing_square_output}}</div>
		</div>
		<div class="r" ng-show="listing.listing_price_auction">
			<div class="f">{{apd.l.field_price_auction}}</div>
			<div class="v">{{listing.listing_price_auction}}</div>
		</div>
		<div class="r" ng-show="listing.listing_date_open">
			<div class="f">{{apd.l.field_date_open}}</div>
			<div class="v">
				{{listing.listing_date_open_output}} 
				<span ng-show="listing.listing_date_open_begin" ng-cloack="">{{apd.l.text_date_from}} {{listing.listing_date_open_begin_text}}</span> 
				<span ng-show="listing.listing_date_open_end" ng-cloak="">{{apd.l.text_date_to}} {{listing.listing_date_open_end_text}}</span>
			</div>
		</div>
		<div class="r" ng-show="listing.listing_date_available">
			<div class="f">{{apd.l.field_date_available}}</div>
			<div class="v">{{listing.listing_date_available_output}}</div>
		</div>
		<div class="r" ng-repeat="field_editor in listing.listing_field_editor" ng-show="field_editor.value">
			<div class="f">{{field_editor.name}}</div>
			<div class="v">{{field_editor.value_str || field_editor.value}}</div>
		</div>
	</div>
</div>
<div class="mt20">
	<h6>{{apd.l.link_user_view}}</h6>
	<ul class="nav nav-pills nav-stacked" ng-cloak="">
		<li ng-click="go('/user/'+listing.listing_user.id+'/contacts')">{{listing.listing_user.output_name}} <i class="awsicon awsicon-rarrow"></i></li>
	</ul>
</div>
<div class="m10 font_header">
	{{apd.l.field_listing_id}}: {{listing.listing_id}}<br>
	{{apd.l.field_listing_created}}: {{listing.listing_date_created_output}}<br>
	{{apd.l.field_listing_views}}: {{listing.listing_views}}
</div>