<div class="anim container">
	<ul class="nav nav-pills nav-stacked" ng-cloak="">
		<li ng-repeat="operation_type in apd.data.operation_types" ng-click="search('{{operation_type}}')">
			{{apd.l['search_listing_'+operation_type]}} <i class="awsicon awsicon-rarrow"></i>
		</li>
	</ul></div>
