<div class="messages-outer">
	<div class="messages container">
		<div class="message row" ng-repeat="item in messages" ng-class="{outbox: item.message_type == 'outbox'}">
			<div class="message-date">{{item.date_add_output}}</div>
			<div class="col-xs-10" ng-class="{'col-xs-offset-2': item.message_type != 'inbox'}">
				<div class="message-user-logo" ng-if="item.message_type=='inbox'"><img ng-src="{{user.media.user_logo.thumbs.small}}" alt="{{apd.l.text_photo}}"></div>
				<div class="message-text"><div class="message-inner"><div class="well well-lg">{{item.message}}</div></div></div>
			</div>
		</div>
	</div>	
</div>

<div class="bottom navbar-fixed-bottom message-form" id="message-form">
	<form role="form" ng-submit="send()" class="container" autocomplete="off">
		<div class="text-area" id="message-area">
			<textarea rows="1" class="form-control" ng-model="sendForm.message" placeholder="{{apd.l.help_message}}" ng-focus="type(true)" ng-blur="type(false)" id="message-input" required=""></textarea>
		</div>
		<div class="submit-area-small" id="message-submit">
			<button type="submit" class="btn btn-primary btn-lg awsicon awsicon-forward" ng-disabled="sendForm.$invalid"></button>
		</div>
		<div class="submit-area-large" id="message-done">
			<button class="btn btn-primary col-xs-12 btn-lg">{{apd.l.btn_done}}</button>
		</div>
	</form>
</div>