<div class="anim container">
	<div class="pgscroll container" id="pgscroll" pg-scroll="" on-scroll="onScroll()" ng-if="chats_count != '0'" ng-cloak="">
		<div>
			<ul class="mailbox nav nav-pills nav-stacked">
				<li ng-class="{active: chat.last_message && chat.last_message.is_new == '1'}" ng-repeat="chat in chats" ng-click="go('/mailbox/{{chat.id}}/messages')">
					<div class="image-container">
						<img ng-src="{{chat.user_data.media.user_logo.thumbs.middle}}" alt="{{apd.l.text_photo}}" title="{{chat.user_data.output_name}}">
					</div>
					<div class="mailbox-info">
						<div class="date font_main" ng-if="chat.last_message">{{chat.last_message.date_add_output}}</div>
						<h5>{{chat.user_data.output_name}}</h5>
						<p class="font_main" ng-if="chat.last_message">{{chat.last_message.message}}</p>
					</div>
				</li>
			</ul>	
			<div>
				<button class="btn btn-primary col-xs-12 btn-lg" ng-show="isNext" ng-click="onScroll();">{{apd.l.link_more}}</button>
				<div class="text-center" ng-show="isLoading"><i class="awsicon awsicon-loading icon-spin"></i></div>
			</div>
		</div>
	</div>
	<div class="body pt10 pb10 font_header text-center" ng-if="chats_count == '0'" ng-cloak="">{{apd.l.no_contacts}}</div>
</div>