<div class="anim container">
	<h6>{{apd.l['index_'+type+'_block']}}</h6>
	<div class="listings row">
		<div class="listing col-xs-6 col-md-4 col-lg-3" ng-repeat="listing in listings" ng-click="go('/listing/{{listing.listing_id}}/overview')">
			<div class="listing-outer">
				<div class="listing-inner">	
					<div class="image-container">
						<img ng-src="{{listing.logo_image.middle}}" alt="{{apd.l.text_photo}}">
						<div class="image-info-container" ng-show="listing.listing_photo_count > 0">
							<div class="image-info awsicon awsicon-photo">{{listing.listing_photo_count}}</div>
						</div>
					</div>
					<h6>{{listing.listing_output_name|truncate:40}}</h6>
					<div>{{listing.listing_property_type_str|truncate:20}} {{listing.listing_operation_type_str|truncate:20}}</div>
					<div>{{listing.listing_price_str|truncate:25}}</div>
					<div>{{listing.listing_square_output|truncate:25}}</div>
					<div class="font-status" ng-if="listing.listing_sold_output">{{listing.listing_sold_output}}</div>
				</div>
			</div>
		</div>
	</div>
</div>