<div class="anim container">
	<div class="pgscroll container" id="pgscroll" pg-scroll="" on-scroll="onScroll()">
		<div>
			<ul class="news nav nav-pills nav-stacked" ng-cloak="">
				<li ng-repeat="item in news" ng-click="go('/news/view/{{item.id}}')">
					<h5>{{item.annotation|truncate:40}}</h5>
					<p class="font_main">{{item.name|truncate:100}}</p>
					<p class="font_main">{{item.date_add_output}}</p>
					<i class="awsicon awsicon-rarrow"></i>
				</li>
			</ul>
			<div>
				<button class="btn btn-primary col-xs-12 btn-lg" ng-show="isNext" ng-click="onScroll();">{{apd.l.link_more}}</button>
				<div class="text-center" ng-show="isLoading"><i class="awsicon awsicon-loading icon-spin"></i></div>
			</div>
		</div>
	</div>
</div>