<div class="anim container">
	<div class="body">
		<h4>{{news.name}}</h4>
		<p class="image-container" ng-show="news.img" ng-cloak="">
			<img ng-src="{{news.media.img.thumbs.big}}" style="max-width: 100%">
		</p>
		<div class="font_header" ng-bind-html="news.content"></div>
	</div>
</div>