<div class="anim container">
	<ul class="nav nav-pills nav-stacked" ng-cloak="">
		<li ng-click="go('/settings/language')">{{apd.l.link_select_language}} <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-click="go('/settings/currency')">{{apd.l.link_select_currency}} <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-if="$root.apd.login" ng-click="logoff()">{{apd.l.link_logoff}} <i class="awsicon awsicon-rarrow"></i></li>
	</ul>
</div>