<div class="container">
	<ul class="nav nav-pills nav-stacked" ng-cloak="">
		<li ng-repeat="language in languages" ng-click="set('{{language.id}}', '{{language.code}}')">{{language.name}}<i class="badge awsicon awsicon-round ng-hide" ng-show="language.id == current_id">&nbsp;</i></li>
	</ul>
</div>