<div class="container">
	<ul class="nav nav-pills nav-stacked" ng-cloak="">
		<li ng-repeat="currency in currencies" ng-click="set('{{currency.id}}')">{{currency.name}} <i class="badge awsicon awsicon-round" ng-show="currency.is_default">&nbsp;</i></li>
	</ul>
</div>