<div class="anim container" id="pgscroll" pg-scroll="" on-scroll="onScroll()">
	<div>
		<div class="users row">
			<div class="user col-xs-6 col-md-4 col-lg-3" ng-repeat="user in agents" ng-click="go('/user/{{user.id}}/contacts')">
				<div class="user-outer">
					<div class="user-inner">
						<div class="image-container">
							<img ng-src="{{user.logo_image.middle}}" alt="{{apd.l.text_photo}}">
						</div>
						<h6>{{user.output_name}}</h6>
						<rating value="user.review_value" max="5" readonly="true"></rating>
						<span class="font_header" ng-show="user.review_value > 0" ng-cloak="">({{user.review_value}})</span>
						<div ng-show="user.is_contact != false" ng-cloak="">{{user.contact_phone}}</div>
						<div ng-show="user.user_type == 'agent' && user.agent_status != '0'" ng-cloak="">{{user.company.output_name}}</div>
						<div>{{apd.l.field_listings}} ({{user.listings_count}})</div>
					</div>	
				</div>
			</div>
		</div>
		<div>
			<button class="btn btn-primary col-xs-12 btn-lg" ng-show="isNext" ng-click="onScroll()">{{apd.l.link_more}}</button>
			<div class="text-center" ng-show="isLoading"><i class="awsicon awsicon-loading icon-spin"></i></div>
		</div>
	</div>
</div>