<div class="anim container">
	<ul class="nav nav-pills nav-stacked" ng-cloak="">
		<li ng-repeat="user_type in apd.data.user_types" ng-click="search('{{user_type}}')">
			{{apd.l['search_user_'+user_type]}} <i class="awsicon awsicon-rarrow"></i>
		</li>
	</ul>
</div>