<div class="body">
	<div class="user-info">
		<div class="user-gallery">
			<img ng-src="{{user.logo_image.middle}}" alt="{{user.output_name}}" title="{{user.output_name}}">
		</div>
		<div class="user-data">
			<h4>{{user.name}}, {{user.user_type_str}}</h4>
			<p>
				<rating value="user.review_value" max="5" readonly="true"></rating>
				<span class="rating-label" ng-show="user.review_value > 0">({{user.review_value}})</span>
			</p>
			<p ng-if="user.is_contact != 'false'">{{user.contact_phone}}</p>
			<p ng-show="user.user_type=='agent' && user.agent_company!='0' && user.agent_status!='0'" ng-cloak="">{{user.agent_company_name}}</p>
			<a ng-click="message()" ng-if="!user.is_owner"><i class="awsicon awsicon-mailbox"></i> {{apd.l.tool_send_message}}</a>
		</div>
	</div>
	<p class="font_headline" ng-if="user.contact_info" ng-cloak="">{{user.contact_info}}</p>
	<div class="details">
		<div class="r" ng-if="user.facebook">
			<div class="f">{{apd.l.field_facebook}}</div>
			<div class="v" ng-class="{font_paid: user.is_contact == false}">{{user.facebook}}</div>
		</div>
		<div class="r" ng-if="user.twitter">
			<div class="f">{{apd.l.field_twitter}}</div>
			<div class="v" ng-class="{font_paid: user.is_contact == false}">{{user.twitter}}</div>
		</div>
		<div class="r" ng-if="user.vkontakte">
			<div class="f">{{apd.l.field_vkontakte}}</div>
			<div class="v" ng-class="{font_paid: user.is_contact == false}">{{user.vkontakte}}</div>
		</div>
		<div class="r" ng-if="user.contact_email">
			<div class="f">{{apd.l.field_email}}</div>
			<div class="v" ng-class="{font_paid: user.is_contact == false}">{{user.contact_email}}</div>
		</div>
		<div class="r" ng-if="user.user_type=='company' && user.location" ng-cloak="">
			<div class="f">{{apd.l.field_location}}</div>
			<div class="v" ng-class="{font_paid: user.is_contact == false}">{{user.location}}</div>
		</div>
		<div class="r" ng-if="user.user_type=='company' && user.web_url" ng-cloak="">
			<div class="f">{{apd.l.field_web_url}}</div>
			<div class="v" ng-class="{font_paid: user.is_contact == false}">{{user.web_url}}</div>
		</div>
		<div class="r" ng-if="user.user_type=='company' && user.working_days_str" ng-cloak="">
			<div class="f">{{apd.l.field_working_days}}</div>
			<div class="v">{{user.working_days_str}}</div>
		</div>
		<div class="r" ng-if="user.user_type=='company' && user.working_hours_str" ng-cloak="">
			<div class="f">{{apd.l.field_working_hours}}</div>
			<div class="v" ng-class="{font_paid: user.is_contact == false}">{{user.working_hours_str}}</div>
		</div>
		<div class="r" ng-if="user.user_type=='company' && user.lunch_time_str" ng-cloak="">
			<div class="f">{{apd.l.field_lunch_time}}</div>
			<div class="v" ng-class="{font_paid: user.is_contact == false}">{{user.lunch_time_str}}</div>
		</div>
		<button class="btn btn-primary mb10" ng-show="!user.no_access_contact && !user.is_contact" ng-click="$parent.buy()">{{apd.l.btn_buy}}</button>
	</div>
</div>	

<div class="mt20" ng-if="user.user_type=='company' && Math.abs(parseFloat(user.lat)) > 0 && Math.abs(parseFloat(user.lon)) > 0 || user.user_type=='agent' && user.agent_company!='0' && user.agent_status!='0' || user.listings_for_sale_count != '0' || user.listings_for_buy_count != '0' || user.listings_for_rent_count != '0' || user.listings_for_lease_count != '0'">
	<h6>{{apd.l.field_more_info}}</h6>
	<ul class="nav nav-pills nav-stacked" ng-cloak="">
		<li ng-click="go('/user/'+user.id+'/map')" ng-if="user.user_type=='company' && Math.abs(parseFloat(user.lat)) > 0 && Math.abs(parseFloat(user.lon)) > 0" ng-cloak="">{{apd.l.header_map}}) <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-click="go('/user/'+user.agent_company+'/contacts')" ng-if="user.user_type=='agent' && user.agent_company!='0' && user.agent_status!='0'" ng-cloak="">{{apd.l.field_agent_company}} <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-click="go('/user/'+user.id+'/agents')" ng-if="user.user_type=='company' && user.agent_count!='0'" ng-cloak="">{{apd.l.field_agents}} <span>({{user.agent_count}})</span> <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-click="go('/user/'+user.id+'/listings/sale')" ng-if="user.listings_for_sale_count != '0'">{{apd.l.field_listing_sale}} <span>({{user.listings_for_sale_count}})</span> <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-click="go('/user/'+user.id+'/listings/buy')" ng-if="user.listings_for_buy_count != '0'">{{apd.l.field_listing_buy}} <span>({{user.listings_for_buy_count}})</span> <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-click="go('/user/'+user.id+'/listings/rent')" ng-if="user.listings_for_rent_count != '0'">{{apd.l.field_listing_rent}} <span>({{user.listings_for_rent_count}})</span> <i class="awsicon awsicon-rarrow"></i></li>
		<li ng-click="go('/user/'+user.id+'/listings/lease')" ng-if="user.listings_for_lease_count != '0'">{{apd.l.field_listing_buy}} <span>({{user.listings_for_lease_count}})</span> <i class="awsicon awsicon-rarrow"></i></li>
	</ul>
</div>