<div id="map_container" ui-map="map" ng-show="!$parent.user.no_access_contact || $parent.user.is_contact" class="map" ui-options="mapOptions" ng-show="apd.data.mapProvider == 'google'"></div>
<ya-map ya-zoom="{{zoom}}" ya-center="{{center}}" class="map" ng-show="apd.data.mapProvider == 'yandex'" ya-event-click="mapClick()">
	<ya-toolbar ya-name="smallZoomControl"></ya-toolbar>
	<ya-collection>
        <ya-geo-object ya-source="marker" ng-repeat="marker in markers"></ya-geo-object>
    <ya-collection>
</ya-collection></ya-collection></ya-map>
<div class="btn btn-primary btn-sm" ng-show="!$parent.user.no_access_contact && !$parent.user.is_contact" ng-click="buy()">{{apd.l.btn_buy}}</div>