<div id="pgscroll" class="pgscroll container" pg-scroll="" on-scroll="onScroll()">
		<div>
			<h6>{{apd.l['field_listing_'+type]}}</h6>
			<div class="listings row">
				<div class="listing col-xs-6 col-md-4 col-lg-3" ng-repeat="listing in listings" ng-click="go('/listing/{{listing.listing_id}}/overview')">
					<div class="listing-outer">
						<div class="listing-inner">
							<div class="image-container">
								<img ng-src="{{listing.logo_image.middle}}" alt="{{apd.l.text_photo}}">
								<div class="image-info-container" ng-show="listing.listing_photo_count > 0">
									<div class="image-info awsicon awsicon-photo">{{listing.listing_photo_count}}</div>
								</div>
							</div>
							<h6>{{listing.listing_output_name}}
							<div>{{listing.listing_property_type_str}} {{listing.listing_operation_type_str}}</div>
							<div>{{listing.listing_price_str}}</div>
							<div>{{listing.listing_square_output}}</div>
							<div class="font_status" ng-if="listing.listing_status_output">{{listing.listing_sold_output}}</div>
						</h6></div>
					</div>
				</div>
			</div>
			<div>
				<button class="btn btn-primary col-xs-12 btn-lg" ng-show="isNext" ng-click="onScroll()">{{apd.l.link_more}}</button>
				<div class="text-center" ng-show="isLoading"><i class="awsicon awsicon-loading icon-spin"></i></div>
			</div>
		</div>
	</div>