<div class="anim container">
	<form role="form" ng-submit="search()" class="view-fields" autocomplete="off">
		<div class="form-group">
			<label for="typeField">{{apd.l.field_keyword}}:</label>
			<input type="text" class="form-control" id="keywordField" ng-model="searchForm.keyword" autocomplete="off" placeholder="{{apd.l.text_user_keyword}}">
		</div>
		<button type="submit" class="btn btn-primary col-xs-12 btn-lg" ng-disabled="searchForm.$invalid">{{apd.l.btn_search}}</button>
	</form>
</div>