	<tr>
		<td><a href="{$site_url}reviews/visitors/{$type}">{l i='stat_reviews_visitors_'+$type gid='reviews'}</a></td>
		<!--<td>{$visitors_count_month}</td>-->
		<td>{$visitors_count_total}</td>
	</tr>
