						</div>
				</div>
			</div>

			<div class="clr"></div>

		</div>
		<div class="footer">&copy; 2008-2015 Ancita S.L. – Alicante – Spain</div>
		<div class="clr"></div>
	</div>
	{helper func_name=lang_editor helper_name=languages}
</body>
</html>
