							<div class="pages">
								{if $page_data.total_rows}<span class="total">{l i='showing' gid='start'} {$page_data.start_num} - {$page_data.end_num} / {$page_data.total_rows}</span>{/if}
								&nbsp;{$page_data.nav}
{*								<a href="#">Prev</a>
								&nbsp;&nbsp;|&nbsp;&nbsp;
								<a href="#">1</a><a href="#" class="active">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a>
								&nbsp;&nbsp;|&nbsp;&nbsp;
								<a href="#">Next</a>*}
							</div>
