<div class="content-block load_content">
	
	<h1>{l i='header_alert_form' gid='listings'}</h1>
	<div class="inside edit_block">
		<p>{l i='text_email_alert' gid='listings'}</p>
		<form name="mailbox_write" method="POST" action="">
		<p><label>{l i='field_email_alert' gid='listings'}:&nbsp;*</label>
		<input id="email" class="str" type="text" value="" name="email" size="30"></p>
		<div><input type="submit" value="{l i='btn_add' gid='start' type='button'}"></div>
		<input type="hidden" name="id" value="{$data.id}">
		</form>
	</div>
</div>
