{l i='link_more' gid='listings' assign='user_listings' user_name=$user.output_name}
<a {if $is_listings}href="{seolink module='listings' method='user' id_user=$user_id user=$user_name}{/if}" class="btn-link link-r-margin" title="{$user_listings}"><ins class="with-icon {if !$is_listings}g no-hover{/if} i-listings"></ins></a>
