table.data.stat tr:hover td{background: parent;}
table.data.stat tr th{text-align: right;}
.left-side{float: right; width: 49%;}
.right-side{float: left; width: 49%;}
input#tpl {width: 340px;}
.tooltip {border-bottom: 1px dashed; cursor: pointer; }
