.main-menu.left-menu {
	background-color: #eee; 
}

.view-fields{
	background-color: #FFFFFF; 
}

/* Space out content a bit */
body {
	background-color: #2B77A7;
	color: #4C4C4C;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Custom page footer */
.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
}

h5 {
	color: #000000; 
}

h5 i {
	color: #4C4C4C;
}

.font_headline {
	color: #000000;
}

.font_header {
	color: #000000;
}

.font_status{
	color: #B4391E;
}

.sep {
	border-top: 1px solid #C5C5C5;
}

.body {
	background-color: #FFFFFF;
}

.details .r .v {
	color: #000000;
}

/* Main menu */
.main-menu.left-menu {
	background-color: #6f6f6f;
}

.main-menu.left-menu .nav {
	border-right: 1px solid #C5C5C5;	
	background: #f0f0f0;
}

.main-menu .badge {
	color: #FFFFFF; 
	background: #B4391E;
}

.main-menu a:before {
	color: #4C4C4C;
}

.main-menu .active a:before {
	color: #cdecff;
}
/* Main menu */

/* Images */
.image-info {
	color: #fff; 
}

.image-bg {
	background-color: #000000; 
}
/* Images */

/* Listings */
.listings .listing {
	background: #dedede; 
}

.listings .listing-outer{
	background: #dedede;
}

.listings .listing-inner{
	background: #FFFFFF;
}
/* Listings */

/* Listing */
.listing-info {
	color: [font_header];
}
/* Listing */

/* Users */
.users .user {
	background: #dedede; 
}

.users .user-outer{
	background: #dedede;
}

.users .user-inner{
	background: #FFFFFF;
}
/* Users */

/* User */
.user-info {
	color: #000000;
}
/* User */

/* Photos */
.photos .photo {
	background: #FFFFFF;
}
/* Photos */

/* Calendar */
.calendar {
	background: #FFFFFF;	
}

.calendar table {
	background: #fAfAfA;
}

.calendar span {
    color: #b5b5b5;
}

.calendar .period-open {
	background-color: #d1fbdd;
}

.calendar .period-book {
	background-color: #fbd1d1;
}

.calendar .period-close {
	background-color: #fAfAfA;
	color: #b5b5b5;
}

.calendar .period-comment {
	background: #d84b5d;
	color: #ffffff;	
}
/* Calendar */

/* Mailbox */
.mailbox-group .mailbox-item.active {
	background: #ebfbf8; 
	border-color: #dedede;
}

.message .well {
	border-color: #FFFFFF;
	background: #FFFFFF;
}

.message .well:before {
  color: #FFFFFF;
}

.message.outbox .well:before {
  color: #FFFFFF;
}

.message-form {
	background: #eeeeee;	
}

.message-form button {
	color: #FFFFFF; 
	background-color: #2B77A7; 
}
/* Mailbox */

/* Action panels */
.pg-btn-container {
	border-top: 1px solid #C5C5C5; 
	border-bottom: 1px solid #C5C5C5; 	
}

.pg-btn-container>div {
	border-bottom: 1px solid #C5C5C5; 
}

.pg-btn-container>div>div {
	border-left: 1px solid #C5C5C5; 
	color: #000000;
}

.pg-btn-container>div>div>span {
	color: #4C4C4C;
}
/* Action panels */

/* Settings */
.settings-group .settings-item {
	color: #000000;
}
/* Settings */

.icon-star {
  color: #B4391E;
}

.icon-star-empty {
  color: #B4391E;
}

/* Containers */
#wrapper {
	background-color: #dedede;
}
/* Containers */

.autocomplete-menu a {
	color: #000000;
	border-bottom: 1px solid #e8e8e8;
}

/* Bootstrap */
.navbar-default {
	color: #FFFFFF;
	background: #2B77A7;
}

.navbar-default .navbar-link {
	color: #FFFFFF;
}

.navbar-default .navbar-link:hover {
	color: #FFFFFF;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #3D95CB;
	border-color: #3D95CB;
	color: #2B77A7;
}

.form-control:focus {
	border-color: #2B77A7;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #FFFFFF;
  background-color: #2B77A7;
}

.tooltip-inner {
	background-color: #C5C5C5;
	border-color: #C5C5C5;
	color: [font-color];
}

.tooltip.top .tooltip-arrow {
	border-top-color: #C5C5C5;
}

.nav-pills > li {
	background-color: #f5f5f5;
}

.badge {
	color: #B4391E;
}

.nav > li > a {
	color: #000000;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #FFFFFF;
}

select {
	border: 1px solid #C5C5C5;
}

.actions-menu.dropdown-menu li { 
	border-top: 1px solid #ECECEC; 
	background: #2B77A7; 
}

.actions-menu.dropdown-menu li a {
	background: #2B77A7; 
	color: #FFFFFF;
}

.actions-menu.dropdown-menu li a:hover {
	background: #2B77A7; 
	color: #FFFFFF;
}

.actions-menu.dropdown-menu li.bg {
	background: #000000; 
}

.alert {
  color: #000000;
}

.alert-warning {
  background-color: #dbbcbc;
}

.alert-warning i {
  color: #d45556;	
}

.alert-success {
  background-color: #b6ccd9;
}

.alert-success i {
  color: #3d95cb;
}
