.lef{width: 350px; float: left; overflow: hidden}
.ref{margin-left: 360px;}
.preview{padding: 10px !important; text-align: center;}
#code{width: 100%; margin-top: -6px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
input.color-pick{width: 100px !important;}

.row input[type=checkbox].width4{float: left; vertical-align: top;}
.row label.width4{float: left; width: 80px; margin-top: 3px; max-width: 80px; overflow: hidden; line-height: 22px;}
.row input[type=checkbox].width4:nth-child(4n+1){clear: both;}
.row input[type=checkbox].width4:first-child{clear: none;}
.row{position: relative;}

.edit-form .row textarea{width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.edit-form .row{padding-right: 6px;}
.edit-form .row .v{margin-right: 10px;}
